
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.layout{
  display: flex;
  margin: auto;
  max-width: 1440px;
}

#navBarWrapper{
  width: 20%;
  background-color: white;
  height: 100%;
  min-height: 188px;
}

#layoutWrapper {
  width: 80%;
}

a {
  text-decoration: none;
}

.paperContainer{
  display: flex;
  justify-content: center;
}
